<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Bakery Test Suite">

    <test name="Login and Dashboard Tests">

        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.DashboardTest"/>
            <class name="tests.NewOrderTest"/>
            <class name="tests.CouponTest"/>
            <class name="tests.AddCart"/>
            <class name="tests.OrderDetailsTest"/>
            <class name="tests.TrackOrderTest"/>
        </classes>

    </test>

</suite>